header {
    background-color: #333;
    padding: 15px 15px;
}
.container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    display: flex   ;
}
header .container{
    display: flex;
    justify-content: space-between;
}

header .container nav{
    display: flex;
    justify-content: space-between;
    
}


header .container nav a{
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    align-self: center;
}
.background{
    background: url("../img/bg-intro.jpg");
    padding: 180px 180px;
}

.center {
	justify-content: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: #fafafa;
    font-weight: bolder;
}

main div p {
    color: #fafafa;
    text-align: center;    
}
main section{
    padding: 10px;
    justify-content: center;
}

main section h2{
    color: #333;
    text-align: center;
    font-weight: bolder;
    padding: 20px 0px;
}

main section div img{
    margin: 5px 5px ;
}

main section p{
    text-align: center;
    margin: 5px 5px;
}